{% load static %}

<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="{% static 'ecommerce/vendors/popper/popper.min.js' %}"></script>
<script src="{% static 'ecommerce/vendors/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'ecommerce/vendors/anchorjs/anchor.min.js' %}"></script>
<script src="{% static 'ecommerce/vendors/is/is.min.js' %}"></script>
<script src="{% static 'ecommerce/vendors/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'ecommerce/vendors/rater-js/index.js' %}"></script>
<script src="{% static 'ecommerce/vendors/fontawesome/all.min.js' %}"></script>
<script src="{% static 'ecommerce/vendors/lodash/lodash.min.js' %}"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="{% static 'ecommerce/vendors/list.js/list.min.js' %}"></script>
<script src="{% static 'ecommerce/assets/js/theme.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rater-js/1.1.1/rater.min.js"></script>